<library path="src">
  <class name="Battery state" type="rqt_battery_state.rqt_battery_state.Battery_state" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying battry state.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to ???.</statustip>
      </group>
      <label>Battery state</label>
      <icon type="theme">applications-other</icon>
      <statustip>A Python GUI plugin for displaying battry state.</statustip>
    </qtgui>
  </class>
</library>
